.m-contact {
  .u-upload-desc p {
    line-height: 22px;
    color: #9a9a9a;
    font-size: 14px;
    margin-top: 8px;
  }
  .u-uploader {
    width: 72px;
    height: 72px;
    padding:0;
  }
}
