.g-order {
  .m-search-state{
    background-color: #fff;
    .status-point{
      width: 8px;
      height: 8px;
      border-radius: 4px;
      display: inline-block;
      background: #000;
      margin-right: 9px;
    }
  }
  
  button {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
  .m-header{
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    .u-header{
      font-family: PingFangHK-Regular;
      font-size: 16px;
      color: #333333;
      margin-left: 10px;
    }
  }

  .m-page-content {
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    margin: 10px 0;
    .m-btn {
      text-align: right;
      margin-bottom: 10px;
      button.ant-btn-primary:focus{
        background: #fff !important;
      }
    }

    .m-table{
      .ant-table-tbody{
        font-size: 12px;
      }
      
    }
    .s-size{
      width: 100px;
      height: 100px;
      display: block;
    }
    .u-operation {
      margin-left: 10px;
    }
    .f-hidden{
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;max-height:91px;
    }
    .status-point{
      width: 8px;
      height: 8px;
      border-radius: 4px;
      display: inline-block;
      background: #000;
      margin-right: 9px;
    }
  }
  

  .m-pagination {
    margin-top: 10px;
    overflow: hidden;
    text-align: right;
  }

  .m-batch- {
    color: #999;
    label {
      color: #999 !important;
    }
  }
  
  
  .m-add-delivery {
    label {
      color: #999 !important;
    }
  
    .ant-legacy-form-item {
      margin-bottom: 20px;
    }
  
    .u-label-show {
      margin-bottom: 16px !important;
      .ant-legacy-form-item-label, .ant-legacy-form-item-control {
        line-height: 18px;
      }
    }
  }
}

.m-batch-delivery {
  color: #999;

  .ant-legacy-form-item{
    margin-bottom: 1px;
  }

  .ant-legacy-form-item-control{
    text-align: center;

    .ant-upload-select{
      border: 1px dashed #E2E4E8;
      background: #FAFAFA;
      width: 100%;
    }

    .u-upload-block{
      padding: 38px 0 28px;

      p {
        margin-top: 15px;
        color: #b4b5ba;
      }
    }
  }

  // 下载模板样式
  .u-download-template{
    text-align: left;
    font-size: 12px;
    line-height: 25px;
    margin-top: 10px;

    .s-icon{
      color: #FFAA00;
    }
  }

  .f-select-button{
    text-align: right;

    .ant-btn{
      margin-left: 20px;

      &.s-submit-buttom{
        color: #2C8CF0;
        border: 1px solid #2C8CF0;
      }
    }
  }

  &.u-footer-text{
    text-align: left;
    font-size: 12px;
    margin-bottom: 12px;
    div{
      margin-bottom: 10px;
    }
  }
}

//发货、批量发货对话框样式
.m-deliver-modal {
  .m-deliver-form {
    .ant-legacy-form-item {
      margin-bottom: 16px;
    }

    .ant-legacy-form-item-label {
      label {
        .s-red{
          color:red !important;
        }
      }
    }

    .m-readonly-form {
      .ant-legacy-form-item-label {
        line-height: 1.5;
      }
      .u-label {
        line-height: 1.5;
      }
  
      .u-readonly-value {
        line-height: 20px;
      }
    }

  }
}

.ant-table-wrapper{
  td{
    .text-overflow{
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
      max-height: 40px;
    }
  }
}