$font-color: #333;
$radius: 8px;


.g-forget {
  // height:100%;
  width: 100%;
  min-width: 1200px;
  min-height: 980px;
  background-color: #f9f9f9;
  position: relative;

  .g-banner {
    width: 100%;
    height: 180px;
    background: url('../../resource/img/reg/banner.png') no-repeat center top;
  }

  .g-wrapper {
    position: relative;
    width: 100%;

    .m-reg {
      margin: 0 auto;
      transform: translateY(-36px);
      border-radius: $radius; 
      width: 960px;
      min-height: 760px;
      background: #fff;
      padding: 24px;

      .g-reg-body {
        position: relative;
        

        .u-back {
          position: absolute;
          left: 24px;
          top: 10px;
          color: $font-color;
        }

      }


    }
  }


  .g-ft {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
}