$font-color: #333;
$radius: 8px;


.m-credentials{
  // text-align: center;



  .u-form {
    width: 580px;
    margin: 0 auto;

    

    .u-radio-gp {
      text-align: left;
    }

    .u-next {
      margin: 50px 0;
      text-align: center;
     
      button {
        width: 130px;
        height: 36px;
      }
    }

    .u-operate-icon {
      .anticon {
        font-size: 28px;
        margin-top: 6px;
      }
    }

    .u-uploader {
      width: 75px;
      height: 75px;
    }

    .m-upload-wrapper {
      position: relative;
      .u-upload-desc {
        position: absolute;
        top: 6px;
        right: 50px;
        width: 200px;
        font-size: 14px;
        color: #BBBBBB;
        &.u-one {
          top: 20px;
        }
        p {
          line-height: 20px;
          margin: 0;
        }
      }
    }


  }


}