.m-supplier-quoted {
  padding: 10px 10px;
  margin-top: 10px;
  background: white;

  .u-searcher {
    margin-bottom: 20px!important;
  }
  
  .ant-btn {
    margin: 0 5px;
    width: 100px;
  }

  .ant-select:not(.ant-pagination-options-size-changer) {
    width: 280px;
    margin: 0 15px;
  }


  .u-card-title {
    font-size: 14px;
    color: #333;
    font-weight: normal;
  }


}

